@import "resets";
@import "functions";
@import "mixins";
@import "variables";

body {
    font-family: 'Rubik', sans-serif;
    @include background-image("../images/background.jpg");
}

App {
    height: 100vh;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.slides-container {
    display: grid;
    grid-template-columns: 40% 50% 10%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding-top: 80px;

    @include media-xl {
        grid-template-columns: 35% 60% 5%;
    }

    @include media-lg-xl {
        grid-template-columns: 30% 65% 5%;
    }

    @include media-lg {
        grid-template-columns: 1fr 1fr;

        & .slider-container {
            order: 1;
            grid-column-start: 1;
            grid-column-end: -3;
        }
    }

    @include media-md {
        grid-template-columns: 1fr;
        height: auto;

        & .slider-container {
            order: 0;
        }
        & .content-container {
            order: 1;
        }
    }
}