@import "resets";
@import "functions";
@import "mixins";
@import "variables";

body {
    font-family: 'Rubik', sans-serif;
    @include background-image("../images/background.jpg");
    height: 100%;
    width: 100vw;
}

// .overlay {
//     position: absolute;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     background: $overlay;
//     z-index: 1;
//     width: 100%;
// }

img {
    width: 100%;
    height: auto;
}

.slides-container {
    display: grid;
    grid-template-columns: 40% 50% 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
   height: 90vh;
}
