@import "mixins";
@import "variables";

.play-container {
    @include flex-center(column);
    width: 100%;
    height: 80px;
    color: $text-color;
    font-size: 2rem;

    & .far {
        cursor: pointer;
        @include transition;
        z-index: 5;

        &:hover {
            color: $hover-color;
        }
    }

}
