@import "mixins";
@import "variables";

.play-container {
    @include flex-center(column);
    width: 100%;
    height: 80px;
    padding-top: 2rem;
    color: $text-color;

    & button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        color: $text-color;
        @include transition;
        z-index: 5;
        font-size: 2rem;

        &:hover {
            color: $hover-color;
        }
    }

    @include media-xxl {
        padding-top: 0.5rem;
    }

}